.name {
  color: blueviolet;
}
.number {
  margin-left: 10px;
  color: green;
}

.removeButton {
  margin-left: 15px;
  border-radius: 5px;
  border-color: greenyellow;
}

ul {
  list-style: decimal;
}
li {
  margin-bottom: 5px;
}
